<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO TEXT ANALYZER: ENTER THE TEXT IN TEXT AREA</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 1562px; height: 265px;"></textarea><br>
        <input type="checkbox" name='removepuctuation'> remove puctuations <br>
        <input type="checkbox" name='fullcaps'> UPPERCASE <br>
        <input type="checkbox" name='newlineremover'> New Line Remover <br>
        <input type="checkbox" name='extraspaceremover'> Extra Space Remover <br>
        <input type="checkbox" name='charcount'> character count <br>
        <button type="submit">textanalysis</button>
    </form>
</body>
</html>